.wy-side-nav-search {background-color: #1fab90}
.wy-nav-content {
   max-width: initial;
}

.rst-content code.literal:not(.download)
{
  color: #000;
  border: #eee 1px solid;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 0.1em 0.2em;
  font-size: 85%;
  font-weight: normal;
}

.rst-content .admonition code.literal
{
  background: #fff;
  border: none;
}

.rst-content table.docutils td,
.rst-content table.field-list td,
.wy-table td {
  background-color: transparent;
  vertical-align: baseline;
}

.github-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 400;
  padding: 12px;
  background-color: #272525;
  display: block;
  font-size: 90%;
  cursor: pointer;
  color: #fcfcfc;
}

.github-link:hover,.github-link:visited {
  color: #fcfcfc;
}

.github-link:before {
  font-family: FontAwesome;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: inherit;
  content: "";	
}

.rst-content table.docutils td:first-child {
  border-left-width: thin;
}

.overflow-x-table-styles {
  max-height: 600px;
}

@media screen and (max-width: 768px) {
  .github-link {
     display: none;
  }
}

@media print {
  .github-link {
    display: none;
  }
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.wy-table-responsive table th {
  vertical-align: middle;
}

.toggle {
  position: relative;
}

.toggle:not(.open) .linenodiv,
.toggle:not(.open) .highlight {
  max-height: 200px !important;
}

.toggle:not(.open) .highlight-json {
  overflow: hidden;
}

.toggle:not(.open) .toggle pre {
  overflow: hidden !important;
}

.toggle .highlight {
  position:relative;
  overflow: hidden;
}

.toggle .switcher:after {
  content: 'Раскрыть';
  z-index: 99999;
  bottom: -10px;
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 18px;
  line-height: 18px;
  background: white;
  box-shadow: 0px -10px 15px 0px rgba(0,0,0,.19);
  transition: all .5s ease;
  background: #f1f0f0;
}

.toggle.open .switcher:after {
  content: 'Свернуть';
} 

.toggle .switcher:hover:after {
  background: #f8f8f8;
}

.feedbackBannerContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 12px;
  width: 256px;
  height: 48px;
  background: black;
  color: white;
  border-radius: 8px;
  text-align: center;
  transition: .2s ease-in scale;
  animation: open 1s ease-in;
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.feedbackFooterLink::after {
  display: inline-block;
  content: '';
  background-image: url(https://s.kontur.ru/common/products/features-v2/black/icon-11-other-talkmagic.svg);
  width: 64px;
  position: relative;
  height: 70px;
  transform: scale(0.5);
  top: 20px;
  right: 8px;
}

.feedbackLink,
.feedbackLink:visited {
  display: flex;
  color: white;
  border-radius: 8px;
  padding: 4px;
}

.feedbackLink:hover,
.feedbackLink:focus-visible {
  text-decoration: underline;
}

.feedbackFooterLink {
  color: #2ca08b;
  position: relative;
  margin-top: 12px;
  bottom: 56px;
}

.feedbackFooterLink:visited {
  color: #2ca08b;
}

.feedbackFooterLink:hover {
  color: #2dc4a8;
  text-decoration: underline;
}

.feedbackBannerCloseButton {
  all: unset;
  cursor: pointer;
  color: orangered;
  display: flex;
  place-content: center;
  border-radius: 8px;
}

.feedbackBannerCloseButton:focus-visible {
  outline: 2px solid white;
}

.hiddenFeedbackBannerContainer {
  display: none;
}

@media screen and (max-width: 1280px) {
  .feedbackBannerContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .feedbackFooterLink {
    bottom: 0px;
  }

  .feedbackFooterLink::after {
    display: none;
  }
}