.wy-side-nav-search {background-color: #1fab90}
.wy-nav-content {
   max-width: initial;
}

.rst-content code.literal:not(.download)
{
  color: #000;
  border: #eee 1px solid;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 0.1em 0.2em;
  font-size: 85%;
  font-weight: normal;
}

.rst-content .admonition code.literal
{
  background: #fff;
  border: none;
}

.github-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 400;
  padding: 12px;
  background-color: #272525;
  display: block;
  font-size: 90%;
  cursor: pointer;
  color: #fcfcfc;
}

.github-link:hover,.github-link:visited {
  color: #fcfcfc;
}

.github-link:before {
  font-family: FontAwesome;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: inherit;
  content: "";	
}

@media screen and (max-width: 768px) {
  .github-link {
     display: none;
  }
}

@media print {
  .github-link {
    display: none;
  }
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.wy-table-responsive table th {
  vertical-align: middle;
}

.toggle {
  position: relative;
}

.toggle:not(.open) .linenodiv,
.toggle:not(.open) .highlight {
  max-height: 200px !important;
}

.toggle:not(.open) .highlight-json {
  overflow: hidden;
}

.toggle:not(.open) .toggle pre {
  overflow: hidden !important;
}

.toggle .highlight {
  position:relative;
  overflow: hidden;
}

.toggle .switcher:after {
  content: 'Раскрыть';
  z-index: 99999;
  bottom: -10px;
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 18px;
  line-height: 18px;
  background: white;
  box-shadow: 0px -10px 15px 0px rgba(0,0,0,.19);
  transition: all .5s ease;
  background: #f1f0f0;
}

.toggle.open .switcher:after {
  content: 'Свернуть';
} 

.toggle .switcher:hover:after {
  background: #f8f8f8;
}